.menutext2{
  padding-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d0000;
  color:#cf9f33;
  margin-top: 0%;
}

.slider-container {
    width: auto;
    padding-top:30px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #3d0000;
  }
  
  .slider-window {
    width: max-content;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-track.sliding {
    animation: slide-left 0.5s forwards;
  }
  
  .slider-track img {
    width: 600px;
    height: 700px;
    margin-right: 10px;
    border-radius: 50px;
    object-fit: cover;
  }
  
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-610px); /* 600 + 10px margin */
    }
  }
  
  /* Arrows */
  .nav {
    background-color: #cf9f33;
    color: white;
    border: none;
    font-size: 30px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    user-select: none;
  }
  
  .left {
    margin-right: 10px;
  }
  
  .right {
    margin-left: 10px;
  }